* {
    font-family: 'Avenir', sans-serif;                                              
}

body {
    background-image: linear-gradient(to bottom, pink, lightgray, lightblue, rgb(221, 183, 249));
}

p {
    text-align: justify;
    color: #000000;
}

a {
    color: #6693E0
}

a {
   line-height: 60px; 
   text-align: center;
   border: 1px solid rgba(255, 255, 255, 0.18);
   padding: 10px;
   margin: 50px 10px;
   border-radius: 50px;
   background: rgba(255, 255, 255, 0.5);
}

a:visited {
    color: blueviolet;
}

img {
    border-radius: 20px;
    background: linear-gradient (135deg, Orgba(255, 255, 255, 0.1), Orgba(255, 255, 255, 0));
    box-shadow: 0 0px 10px 10px #e4e9f2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#span-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1%;
    margin: auto;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 8px 32px 10px gray;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, pink, whitesmoke, lightblue, rgba(221, 183, 249, 0.999));
    overflow-x: hidden;
    transition: 0.5s;
}
  

  
.overlay a:hover, .overlay a:focus {
    color: blueviolet;
}
  

